<div
  class="flex align-items-center justify-content-center min-w-screen overflow-hidden my-4"
>
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-5 sm:w-full">
    <div class="text-center mb-5">
      <div class="text-800 text-lg font-medium mb-2">
        Sube un nuevo documento
      </div>
      <span class="text-sm line-height-2 text-blue-500">
        <i class="pi pi-info-circle"
          >Los campos marcados con (*) son obligatorios</i
        >
      </span>

      <form [formGroup]="formPublication">
        <label for="titulo" class="block text-sm font-medium mb-2"
          >Titulo (*)</label
        >
        <input
          formControlName="titulo"
          pInputText
          id="titulo"
          type="text"
          class="w-full p-inputtext-sm"
          autofocus
        />
        <div *ngIf="formPublication.get('titulo')?.invalid && (formPublication.get('titulo')?.touched || formPublication.get('titulo')?.dirty)">
          <small class="p-error block mb-3"
            *ngIf="formPublication.get('titulo')?.hasError('required') ">
            El campo titulo es requerido
          </small>
          <small class="p-error block mb-3"
            *ngIf="formPublication.get('titulo')?.hasError('minlength') ">
            El campo titulo debe tener minimo 8 letras
          </small>
        </div>

        <label for="resumen" class="block text-sm font-medium mt-3"
          >Resumen (*)</label>
        <textarea
          formControlName="resumen"
          rows="5"
          cols="30"
          [autoResize]="true"
          pInputTextarea
          class="w-full"
        ></textarea>
        <div *ngIf="formPublication.get('resumen')?.invalid && (formPublication.get('resumen')?.touched || formPublication.get('resumen')?.dirty)">
          <small class="p-error block mb-3"
            *ngIf="formPublication.get('resumen')?.hasError('required') ">
            El campo resumen es requerido
          </small>
        </div>

        <div class="flex">
          <div class="lg:col-6 md:col-6 sm:col-12 col-12">
            <label for="anio" class="block text-sm font-medium mt-3"
              >Año publicación (*)</label
            >
            <input
              formControlName="gestion"
              pInputText
              id="anio"
              type="number"
              class="w-full p-inputtext-sm"
            />
            <div *ngIf="formPublication.get('gestion')?.invalid && (formPublication.get('gestion')?.touched || formPublication.get('gestion')?.dirty)">
              <small class="p-error block mb-3"
                *ngIf="formPublication.get('gestion')?.hasError('required') ">
                El campo gestion es requerido
              </small>
              <small class="p-error block mb-3"
                *ngIf="formPublication.get('gestion')?.hasError('min') ">
                El campo gestion debe ser mayor
              </small>
              <small class="p-error block mb-3"
                *ngIf="formPublication.get('gestion')?.hasError('max') ">
                El campo gestion debe ser menor a año actual
              </small>
            </div>
          </div>

          <div class="log:col-6 md:col-6 sm:col-12 col-12">
            <label for="Categorias" class="block text-sm font-medium mt-3"
              >Categorias (*)</label
            >
            <p-dropdown [options]="categorias" optionLabel="categoria" optionValue="id" placeholder="Selecciona una categoria" formControlName="categoria"></p-dropdown>
            <div *ngIf="formPublication.get('categoria')?.invalid && (formPublication.get('categoria')?.touched || formPublication.get('categoria')?.dirty)">
              <small class="p-error block mb-3"
                *ngIf="formPublication.get('categoria')?.hasError('required') ">
                El campo categoria es requerido
              </small>
              </div>
          </div>
        </div>

        <label for="imagen" class="block text-sm font-medium mt-3"
          >Imagen del documento (*)(Max. 5MB)</label
        >
        <input
          formControlName="imagen"
          pInputText
          id="imagen"
          type="file"
          class="w-full p-inputtext-sm"
          accept="image/*"
        />
        <div *ngIf="formPublication.get('imagen')?.invalid && (formPublication.get('imagen')?.touched || formPublication.get('imagen')?.dirty)">
          <small class="p-error block mb-3"
            *ngIf="formPublication.get('imagen')?.hasError('required') ">
            El campo imagen es requerido
          </small>
          </div>

        <label for="pdf" class="block text-sm font-medium mt-3"
          >PDF del documento (*)(Max. 5MB)</label
        >
        <input
          formControlName="pdf"
          pInputText
          id="pdf"
          type="file"
          class="w-full p-inputtext-sm"
          accept="application/pdf"
        />
        <div *ngIf="formPublication.get('imagen')?.invalid && (formPublication.get('imagen')?.touched || formPublication.get('imagen')?.dirty)">
          <small class="p-error block mb-3"
            *ngIf="formPublication.get('imagen')?.hasError('required') ">
            El campo pdf es requerido
          </small>
        </div>

        <div class="w-full flex align-items-center justify-content-center">
          <button
            pButton
            [loading]="loading"
            (click)="crearPublication()"
            label="Crear documento"
            icon="pi pi-plus"
            class="mt-4 p-button-sm"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
