<div class="surface-0 bg-aqua flex align-items-center justify-content-center min-h-screen min-w-screen overflow-auto">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
    <div class="text-center mb-5">
      <img src="assets/images/avatar.jpg" alt="Image" height="50" class="mb-2 mt-3 cursor-pointer">
      <h2 class="text-800 text-xl font-medium mb-2">Bienvenido a
        <a class="text-blue-500 cursor-pointer no-underline"
          [routerLink]="['/']">Docs.</a>
      </h2>
      <div class="text-sm line-height-2">No tienes una cuenta?</div>
      <a class="text-sm no-underline ml-2 text-blue-500 cursor-pointer"
          [routerLink]="['/register']">
        Crea una cuenta
      </a>
    </div>

    <form [formGroup]="loginForm">
      <label for="correo" class="block text-sm font-medium mt-3">Correo electrónico</label>
      <input formControlName="correo" pInputText id="correo" type="text" class="p-inputtext-sm w-full" autofocus>
      <div *ngIf="loginForm.get('correo')?.invalid && (loginForm.get('correo')?.touched || loginForm.get('correo')?.dirty)">
        <small class="p-error block mb-3"
          *ngIf="loginForm.get('correo')?.hasError('required') ">
          El campo email no puede estar vacio
        </small>
        <small class="p-error block mb-3"
          *ngIf="loginForm.get('correo')?.hasError('email') ">
          El email no es valido
        </small>
      </div>

<!-- <div class="card flex justify-content-center">
  <p-password formControlName="clave" [toggleMask]="true" ></p-password>
</div> -->
      <label for="clave" class="block text-sm font-medium mt-3">Contraseña</label>
      <p-password
        formControlName="clave"
        id="clave"
        [feedback]="false"
        [toggleMask]="true"
        [inputStyle]="{'width': '100%'}" [style]="{'width': '100%'}"
        class="w-full"></p-password>

      <div *ngIf="loginForm.get('clave')?.invalid && (loginForm.get('clave')?.touched || loginForm.get('clave')?.dirty)">
        <small class="p-error block mb-3"
          *ngIf="loginForm.get('clave')?.hasError('required') ">
          El campo password no puede estar vacio
        </small>
      </div>

      <div class="flex align-items-center justify-content-center">
        <p-button
          class="mt-3"
          label="Ingresar"
          icon="pi pi-check"
          size="small"
          [disabled]="loginForm.invalid"
          [loading]="loading"
          (click)="login()"></p-button>
      </div>
    </form>
  </div>
</div>
