<div id="home" class="surface-0 bg-agua overflow-hidden min-h-screen">
  <div class="flex align-items-center justify-content-center min-w-screen overflow-hidden my-8">
    <div class="text-center">
      <h2 class="text-900 text-7xl mb-o">404</h2>
      <h2 class="text-900 font-normal mb-4">Pagina no encontrada</h2>
      <span class="text-600 text-base text-blue-600">
        <i class="pi pi-times">
          No existe el recurso solicitado en la app
            <a class="underline" routerLink="" style="cursor: pointer;">Ir al inicio</a>
        </i>
      </span>
    </div>
  </div>
</div>
