
<router-outlet></router-outlet>

<p-toast position="top-left"></p-toast>
<!-- <div class="card flex justify-content-center">
  <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
</div>
 -->

<p-toast></p-toast>
<button type="button" pButton pRipple (click)="show()" label="Show" class="p-button-success"></button>
