<div class="surface-0 bg-aqua flex align-items-center justify-content-center min-h-screen min-w-screen overflow-auto">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
    <div class="text-center mb-5">
      <img src="assets/images/avatar.jpg" alt="Image" height="50" class="mb-2 mt-3 cursor-pointer">
      <div class="text-sm line-height-2">Ya tienes una cuenta?</div>
      <a class="text-sm no-underline ml-2 text-blue-500 cursor-pointer"
        [routerLink]="['/login']">
        Inicia sesión
      </a>
    </div>

    <form [formGroup]="formRegister" >
      <label for="name" class="block text-sm font-medium mb-2">Nombre Completo</label>
      <input formControlName="nombres" pInputText id="name" type="text" class="p-inputtext-sm w-full" autofocus>
      <div *ngIf="formRegister.get('nombres')?.invalid && (formRegister.get('nombres')?.touched || formRegister.get('nombres')?.dirty)">
        <small class="p-error block mb-3"
          *ngIf="formRegister.get('nombres')?.hasError('required') ">
          Campo nombres obligatorio
        </small>
        <small class="p-error block mb-3"
          *ngIf="formRegister.get('nombres')?.hasError('minlength')">
          El nombre debe tener minimo 5 caracteres
        </small>
      </div>

      <label for="email" class="block text-sm font-medium mt-3">Correo electrónico</label>
      <input formControlName="correo" pInputText id="email" type="text" class="p-inputtext-sm w-full">
      <div *ngIf="formRegister.get('correo')?.invalid && (formRegister.get('correo')?.touched || formRegister.get('correo')?.dirty)">
        <small class="p-error block mb-3"
          *ngIf="formRegister.get('correo')?.hasError('required') ">
          Campo correo es obligatorio
        </small>
      </div>

      <label for="password" class="block text-sm font-medium mt-3">Contraseña</label>
      <input formControlName="clave" pInputText id="password" type="password" class="p-inputtext-sm w-full">
      <div *ngIf="formRegister.get('clave')?.invalid && (formRegister.get('clave')?.touched || formRegister.get('clave')?.dirty)">
        <small class="p-error block mb-3"
          *ngIf="formRegister.get('clave')?.hasError('required') ">
          Campo contraseña es obligatorio
        </small>
        <small class="p-error block mb-3"
          *ngIf="formRegister.getError('isStrongPassword','clave') as error">
          {{ error }}
        </small>
      </div>
      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center mt-3">
          <p-checkbox formControlName="terminos" name="term" inputId="binay" [binary]="true"></p-checkbox>
          <label for="binay" class="text-sm ml-1">Aceptar lo</label>
          <span>
            <a class="ml-1 text-sm text-blue-500 cursor-pointer underline" href=""> terminos y condiciones</a>
          </span>
        </div>
      </div>
      <div *ngIf="formRegister.get('terminos')?.invalid && (formRegister.get('terminos')?.touched || formRegister.get('terminos')?.dirty)">
        <small class="p-error block mb-3"
          *ngIf="formRegister.get('terminos')?.hasError('required') ">
          Debes aceptar los terminos y condiciones
        </small>
      </div>

      <div class="w-full flex align-items-center justify-content-center">
        <p-button class="mt-3"
            label="Registrar"
            icon="pi pi-user"
            size="small"
            [disabled]="formRegister.invalid"
            [loading]="loading"
            (onClick)="register()"></p-button>
      </div>
    </form>
  </div>
</div>


