<div *ngIf="isLoadingPage" class="flex align-items-center justify-content-center min-w-screen overflow-hidden my-6">
  <div class="w-full lg:w-8 md:w-9 sm:w-full">
    <!-- Cargar componente loading -->
    <app-loading-list></app-loading-list>
  </div>
</div>

<div class="flex align-items-center justify-content-center min-w-screen overflow-hidden my-8"
    *ngIf="!isLoadingPage && publications.length == 0">
  <div class="text-center">
    <h2 class="text-900 font-normal mb-2">
      No hay todavia publicaciones en la aplicación
    </h2>
    <span class="text-600 text-base text-blue-600">
      <i class="pi pi-items"></i>
      Prueba Subiendo tu una nueva publicación
    </span>
  </div>
</div>

<div class="px-4 lg:px-8 mx-0 lg:mx-8"
    *ngIf="!isLoadingPage && publications.length > 1">
  <div class="text-center">
    <h2 class="text-900 font-normal mb-2">Nuestras ultimas publicaciones</h2>
    <span class="text-600text-base">desliza havia abajo </span>
  </div>
  <div class="grid mt-5 pb-2 md:pb-3">
    <div class="flex justify-content-center col-12 lg:col-6 bg-purple-100 p-0 flex-order-l lg:flex-order-o" style="border-radius:8px;">
      <img src="assets/images/no-image.jpg" class="w-8" alt="image">
    </div>
    <div class="col-12 lg:col-6 my-auto flex flex-column lg:align-items-end text-center lg:text-right">
      <div class="flex align-items-center justify-content-center bg-red-200 align-self-center lg:align-self-end" style="width: 3.2rem; height: 3.2rem; border-radius: 10px;">
        <i class="pi pi-fw pi-heart text-xl text-red-700"></i>
      </div>

      <h2 class="line-height-l text-x1 font-bold">Titulo</h2>

      <span class="text-700 text-base line-height-3 ml-0 md:ml-2" style="max-width: 680px;">
        Resumen documento
      </span>
      <span>
        <a>Ver mas</a>
      </span>
    </div>
  </div>
</div>
